.home {
    h1{
        width: '100%';
        color: $text-color;
    }

    h2{
        color: $text-color;
    }

}  


@media screen and (max-width: 900px) {
    .home{

        h1 {
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
        }
    }
}