
.site-navigation {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $text-color;
    
    
    
    // opacity: 0.5;
    

    .menu-title {
        font-weight: 500;
        font-size: 22px;
        height: 100%;  
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    
    // Imported menu icon 
    .ion-ios-menu{
        font-size: 36px;
        width: 65px;
        align-items: center;
        cursor: pointer;
        display: none;
    }


    // Fixed Main Menu Container 
    .menu-content-container {
        display: flex;
        align-items: center;
        padding-right: 30px;
     
    
        
        // Avatar for current user
        .ant-avatar {
            background: $background;
            border: 1px solid $border;

        }
        
        // Avatar Name 
        .menu-avatar-name {
            font-size: 24px;
            margin-left: 15px;
            opacity: 0.5;
            
            

        }

    }


    ul {
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start:0;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0 20px 0 50px;
        
        

        a {
            text-decoration: none;
            padding: 0 20px 0 20px;
            font-size: 22px;
            color: $text-color;
            opacity: 0.5;


            // allows to change to a different color when hovering a tags
            &:hover {
            color: $text-link;
            opacity: 1;
            }
        }
   
    }
}

@media screen and (max-width: 900px) {
    .site-navigation {
        
        .menu-content-container{
            width:  300px;
            height: calc(100% - 65px);
            //background: #1e1e1f;
            position: absolute;
            top: 65px;
            left: -300px;
            background: #C7CAD0;
            z-index: 2;
            
            
         
        
            transition: 300ms ease left;
            flex-direction:  column-reverse;
            padding: 0;
            padding-left: 30px;


            a {
                width: 100%;
                padding: 0;
            }

            li{
                height: 65px;
                display: flex;
                align-items: center;
            }

            ul {
                flex-direction: column;
                justify-content: flex-start;
                padding: 0;
                padding-top: 20px;
            
            }

            ul, li, .menu-avatar-container {
                width: 100%;
            }

            .menu-avatar-container {
                padding-top: 20px;
                
            }

            &.active {
                left: 0px;

            }
            }

            .ion-ios-menu {
                display:flex;
        }
    }
}
